@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: "__Poppins_0fd924", "__Poppins_Fallback_0fd924";
    --font-roboto: "__Roboto_471caf", "__Roboto_Fallback_471caf";
    --font-tomatoes: "__tomatoes_dfb65f", "__tomatoes_Fallback_dfb65f";
    --font-heavitas: "__heavitas_fe1ab9", "__heavitas_Fallback_fe1ab9";

    --gray-scale-90: #171717;
    --gray-scale-80: #2e2e2e;
    --gray-scale-50: #727272;
    --gray-scale-20: #b7b7b7;
    --gray-scale-5: #d9d9d9;
    --primary-80: #8c6909;
    --primary-70: #b34b1e;
    --primary-50: #ee6529;
    --primary-5: #fff0ea;
    --secondary-green-600: #0a6d1a;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-poppins);
    overflow-x: hidden;
}

// --------------Header-----------------//

#box-slogan {
    p {
        font-size: 4vw;
        font-family: var(--font-heavitas);
        font-weight: 400;
        line-height: 1.5;
        @media screen and (max-width: "767px") {
            font-size: 6.4vw;
        }
        strong {
            font-family: var(--font-tomatoes);
            font-size: 8vw;
            font-weight: 400;
            line-height: 1.5;
            position: absolute;
            left: 60%;
            top: 30%;
            white-space: nowrap;
            @media screen and (max-width: "767px") {
                font-size: 16vw;
                left: 50%;
            }
        }
    }
}

// ----------cheers tour----------------

#cheers-tour {
    .description {
        p + p {
            margin-top: 1vw;
            @media screen and (max-width: "767px") {
                margin-top: 4.27vw;
            }
        }
        strong {
            font-weight: 600;
            color: var(--gray-scale-80);
        }
    }
}

.slideCategory::-webkit-scrollbar {
    display: none;
}

.input-right {
    text-align: right;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#slide-video {
    iframe {
        .ytp-title {
            display: none;
        }
    }
}

.react-datepicker-popper {
    z-index: 10 !important;
}

#content-trip-details {
    p + p {
        margin-top: 1vw;
        @media screen and (max-width: "767px") {
            margin-top: 2.67vw;
        }
    }
    p {
        font-size: 0.875vw;
        font-weight: 400;
        line-height: 1.57;
        letter-spacing: 0.00219vw;
        @media screen and (max-width: "767px") {
            font-size: 3.733vw;
            letter-spacing: 0.00933vw;
        }
        strong {
            color: var(--gray-scale-80);
            font-weight: 600;
        }
    }
}

// Blog Item
.blog-item {
    .thumb {
        overflow: hidden;
        img {
            transition: all .4s;
        }
    }
    &:hover {
        .thumb img {
            scale: 1.1;
        }
        .title {
            text-decoration: underline;
        }
    }
}
.tip-review::after {
    content: '';
    display: inline-block;
    width: 0.75vw;
    height: 1vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), #d4a900;
    position: absolute;
    bottom: -1vw;
    left: -0.375vw;
    -webkit-clip-path: polygon(100% 0, 50% 0, 100% 50%);
    clip-path: polygon(100% 0, 50% 0, 100% 50%);
  
    @media screen and (max-width: 768px) {
      width: 2.6vw;
      height: 3.13333vw;
      bottom: -3.1vw;
      left: -0.9vw;
    }
  }
  .filter-blog {
    margin-top: 3vw;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: max-content;
    border-radius: 0.75vw;
    height: 6vw;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
    select {
        min-width: 8.75vw;
        outline: none;
        font-size: 1.0625vw;
        color: #171717;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url(../public/images/dropDown-blog.svg);
        background-size: 0.7vw;
        background-repeat: no-repeat;
        background-position: right .7em top 50%, 0 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    option {
        font-size: 1.0625vw;
        color: #171717;
    }
  }
  @media screen and (max-width: 768px) {
    .filter-blog {
        padding: 3.73vw;
        height: 10.66vw;
        select {
            min-width: 30vw;
            background-size: 2.6vw;
        }
        option,select {
            font-size: 2.93vw;
        }
    }
}

  .content-detail {
    p,ul,ol,li,strong,b,i {
        font-size: 1.125vw;
        line-height: 1.5;
        margin: 0.5vw 0;
    }
    h1,h2,h3,h4,h5,h6 {
        margin: 1vw 0;
        font-size: 1.5vw;
        font-weight: 700;
        line-height: 1.37;
    }
    img {
        margin: 1.5vw 0;
        width: 100%;
        height: 34vw;
        border-radius: 1vw;
        align-items: center;
    }
    p:has(.img-small) {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 2vw;
        justify-content: space-between;
    }
    .img-small {
        height: 17.7vw;
        object-fit: cover;
    }
  }
  @media screen and (max-width: 768px) {
    .content-detail {
        p,ul,ol,li,strong,b,i {
            font-size: 3.73vw;
            margin: 3.2vw 0;
        }
        h1,h2,h3,h4,h5,h6 {
            margin-top: 6.4vw;
            margin-bottom: 2.13vw;
            font-size: 4.267vw;
        }
        img {
            margin: 6.4vw 0;
            width: 100%;
            height: 48vw;
            border-radius: 1vw;
            align-items: center;
        }
        p:has(.img-small) {
            margin: 0;
            display: flex;
            align-items: center;
            gap: 4.39vw;
            justify-content: space-between;
        }
        .img-small {
            height: 23.73vw;
            object-fit: cover;
        }
      }
  }
span,p,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
